.red{
    background-color: red;
    color: white;
}


#head {
    background-color: rgb(74, 66, 67);
    color: rgba(255, 0, 0, 0.502);
}

.one{
    background-color: blue;
    color: rgb(254, 254, 254);
}